# ==================== PYTHON ====================
.venv/
__pycache__/
*.pyc

# ==================== SECRETS ====================
.env
*.pem

# ==================== EDITOR ====================
.vscode/
